---
import '@styles/fonts.css'
import '@styles/styles.css'

import { SEO } from 'astro-seo'
import {
  AnalyticsScript,
  HeapAnalytics,
  TopMenuNav,
  type MenuItemData,
  SidebarMenu,
} from '../components'

type Props = {
  title: string
  description?: string
}

const { title, description } = Astro.props

const baseURL = import.meta.env.BASE_URL
const menuItems = [
  { label: 'Projects', href: `${baseURL}/` },
  { label: 'Contacts', href: `${baseURL}/contacts` },
] as const satisfies MenuItemData[] | readonly MenuItemData[]
const toggleId = 'menu-toggle'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${baseURL}/favicon.svg`}
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <SEO
      title={title}
      description={description ||
        'Samples of my code, that aren’t public for various reasons (mostly NDA)'}
    />
    <HeapAnalytics />
  </head>

  <body
    class="drawer"
    data-theme="min"
  >
    <AnalyticsScript />

    <!-- See https://daisyui.com/components/drawer/ -->
    <input
      id={toggleId}
      class="drawer-toggle"
      type="checkbox"
    />
    <main
      class="drawer-content h-screen w-screen min-w-[420px] overflow-hidden overflow-y-auto bg-slate-100"
    >
      <TopMenuNav
        menuItems={menuItems}
        title="Genek’s Showcase"
        toggleId={toggleId}
      />
      <slot />
    </main>
    <SidebarMenu
      menuItems={menuItems}
      toggleId={toggleId}
    />
  </body>
</html>
